@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-legal: "Libre Baskerville", serif;
}

@layer base {
  body {
    @apply font-sans bg-black text-white;
  }
}

@layer utilities {
  .no-print {
    @media print {
      display: none !important;
    }
  }
}
